<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StartSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncryptionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EncryptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDecryptedMessagesServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewDecryptedMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLongestMessageServelt</servlet-name>
        <servlet-class>za.ac.tut.web.ViewLongestMessageServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.logoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSessionServlet</servlet-name>
        <url-pattern>/StartSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncryptionServlet</servlet-name>
        <url-pattern>/EncryptionServlet.do</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>comp_name</param-name>
        <param-value>Siri</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ViewDecryptedMessagesServlet</servlet-name>
        <url-pattern>/ViewDecryptedMessagesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLongestMessageServelt</servlet-name>
        <url-pattern>/ViewLongestMessageServelt.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
